.header{
	margin-bottom: 30px;
}

.header-title h3{
	color: #222f3e;	
	padding: 0;
	margin: 0;
	font-size: 30px;
	font-weight: bold;
}

.header-title{
	border-left: 5px solid #e84118;
	padding: 3px 15px;
}

.header-body{
	margin-top: 20px;
	background: #222f3e;
	padding: 40px;
}

.wrap-header-img{
	width: 100%;
	padding: 60px 40px;	
	background-color: #576574;
}

.me-table{
	color: #fff;
}

.me-table>tbody>tr>td{
	border: none;
	padding: 5px;
	text-transform: capitalize;
}

.movie-panel-title h3{
	color: #e84118;		
	padding: 0;
	margin: 0;
	font-size: 20px;
	font-weight: bold;	
}

.movie-panel-body{
	padding-top: 20px;
}

.link-more{
	font-weight: bold;
	color: #00a8ff;
	font-size: 14px;	
}
.link-more:hover{
	color: #0097e6;
	text-decoration: none;
}

.movie-item{
	padding: 10 5px;
}

.movie-item-group{
	border-radius: 3px;
	padding: 0 !important;
	margin: 0 !important;	
	box-shadow: 0 0 0 1px #dcdde1;
	overflow: hidden;
}

.movie-item-thumb{
	padding: 20 50px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.panel-another{
	padding-left: 30px;
}

.panel-another-title{
	margin-bottom: 18px;
}

.panel-another-title h3{
	color: #e84118;		
	padding: 0;
	margin: 0;
	font-size: 20px;
	font-weight: bold;	
}

.wrap-well-heading h4{
	color: #fff;		
	padding: 0;
	margin: 0;
	margin-bottom: 12px;
	font-size: 17px;
	font-weight: bold;		
}

.wrap-well-heading{
	color: #fff;
	background: #222f3e;
	padding: 15px 13px;
}

.wrap-well-heading .me-table>tbody>tr>td{
	padding: 0px;
}

.wrap-well-body{
	padding: 15px 13px;
}

.wrap-well-body p{
	color:#84817a; 
}

.panel-another-body{
	box-shadow: 0 0 0 1px #dcdde1;
}

.movie-item-content{
	padding: 10px;
}

.movie-item-content h4{
	font-size: 16px;
	font-weight: bold;
}

.movie-item-content p{
	color: #95a5a6;
}

.wrap-movie-title{
	height: 30px;
}

.wrap-movie-title h4{
	color: #34495e;
}

.wrap-director{
	height: 50px;
}

.movie-item-content{
	color:#84817a; 
}

@media only screen and (max-width: 768px) {
    .movie-item {
        margin-bottom: 25px !important;
    }
    .panel-another{
    	padding-left: 0px !important;
    }
}